:root {
  --height-timeline: 0.2rem;
}

.timeline-container {
  position: relative;
  width: 96%;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  /* padding-top: 1.5rem; */
  height: 8px;
}

.timeline-container:hover .timeline {
  height: 100%;
}

.timeline {
  position: absolute;
  width: 100%;
  height: var(--height-timeline);
  top: 0;
  /* bottom: 0; */
  /* width: 0;
    height: var(--height-timeline);
    background-color: #e66f6f; */
  z-index: 20;
}

.timeline:before {
  content: '';
  position: absolute;
  left: 0;
  height: var(--height-timeline);
  top: 0;
  right: calc(100% - var(--preview-position) * 100%);
  background-color: #f8b9b9;
  z-index: 15;
  display: none;
}

.timeline:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: var(--height-timeline);
  right: calc(100% - var(--position-progress) * 100%);
  background-color: #e66f6f;
  z-index: 15;
}

.buffered {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: var(--height-timeline);
  background-color: #cec8c8;
  z-index: 10;
}

.duration {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--height-timeline);
  background-color: #cec8c8;
  opacity: 0.5;
  z-index: 5;
  
}

.timeline-container:hover .timeline::before {
  display: block;
  height: 100%;
  top: -25%;
}

.timeline-container:hover .timeline::after,
.timeline-container:hover .duration,
.timeline-container:hover .buffered {
  height: 100%;
  top: -25%;
}
